---
import ArticleCard from "@temis/design-system/components/ArticleCard.astro";
import PageHero from "@temis/design-system/components/PageHero.astro";
import SiteLayout from "../../components/SiteLayout.astro";
import {
  entryDescription,
  entrySlug,
  entryTitle,
  getPosts,
} from "../../lib/emdash";

const posts = await getPosts();
---

<SiteLayout title="Articles" description="Published TEMIS articles.">
  <PageHero eyebrow="Articles" title="Published articles" />

  <div class="ds-listing">
    {
      posts.map((post) => (
        <ArticleCard
          href={`/blog/${entrySlug(post)}/`}
          title={entryTitle(post)}
          description={entryDescription(post)}
        />
      ))
    }
  </div>
</SiteLayout>
