TEMIS_CMS_SITE_URL=http://localhost:4321
EMDASH_PREVIEW_SECRET=local-preview-secret
TEMIS_PAGES_DEPLOY_HOOK_URL=https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/replace-me
TEMIS_INITIAL_ADMIN_EMAIL=christophe.henner@gmail.com

